@import './reset.min.css'

@font-face
  font-family: 'Gramatika'
  src: url('../fonts/Gramatika-Regular.woff2') format('woff2'),
      url('../fonts/Gramatika-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

mobile()
  @media (max-width: 600px)
    {block}

a, a:visited
  color: inherit

html
  font-size: (10 / 1440) * 100vw
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  overflow: hidden
  +mobile()
    font-size: (10 / 375) * 100vw

header
  position: relative
  +mobile()
    padding: 0.96rem 8rem 0.7rem

body
  font-family: Gramatika, Arial, Helvetica, sans-serif
  font-weight: normal
  font-style: normal
  display: flex
  flex-direction: column
  +mobile()
    min-height: 100vh
    height: 100vh
    max-height: 100vh
    min-height: calc(var(--vh, 1vh) * 100) !important
    height: calc(var(--vh, 1vh) * 100) !important
    max-height: calc(var(--vh, 1vh) * 100) !important

canvas
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  pointer-events: none

main
  flex: 1
  position: relative
  min-height: calc(100vh - 10rem - 9.6rem)
  min-height: calc(var(--vh, 1vh) * 100 - 10rem - 9.6rem)

footer
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1.6rem
  +mobile()
    justify-content: center

h1
  font-size: 10rem
  font-weight: normal
  text-align: center
  line-height: 1
  text-transform: uppercase
  +mobile()
    font-size: 4.4rem
    line-height: (36 / 44)

.inverted
  background: black
  color: white

.text-m
  font-size: 2.2rem
  line-height: 1
  letter-spacing: 0.04em
  text-transform: uppercase

.rounded
  border-radius: 3.2rem

.button
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease
  &:hover
    transform: scale(1.05)

.inactive
  pointer-events: none

.concept
  padding: 2.1rem 0
  border: 0
  position: absolute
  right: 1.6rem
  top: 1.6rem
  transition: transform 0.2s ease, width 0.3s ease
  width: 14.3rem
  cursor: pointer
  +mobile()
    top: 1.53rem
    width: 3rem
    height: 3rem
    padding: 0

.concept-i
  display: none
  +mobile()
    display: inline
    text-transform: none
    transition: opacity 0.15s ease 0.15s

.concept-c
  transition: opacity 0.15s ease 0.15s
  +mobile()
    display: none

.concept-x
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  opacity: 0
  transition: opacity 0.15s ease
  & > svg
    width: 1.619rem
    height: 1.619rem

.concept-close
  width: 6.4rem
  +mobile()
    width: 3rem
  .concept-c
  .concept-i
    transition: opacity 0.15s ease
    opacity: 0
  .concept-x
    opacity: 1
    transition: opacity 0.15s ease 0.15s

.add-color
.open-colors
  padding: 2.1rem 0
  border: 0
  opacity: 0
  cursor: pointer
  width: 22.4rem
  +mobile()
    font-size: 2.6rem
    line-height: (21.76 / 26)
    width: 24rem
    padding: 1.74rem 0 1.6rem

.add-color:disabled
  pointer-events: none

.add-color
  +mobile()
    display: none

.open-colors
  display: none
  +mobile()
    display: block

.colors-opened
  .open-colors
    display: none
  .add-color
    display: block

.colors
  display: flex
  list-style-type: none
  border: 0
  padding: 0
  margin: 0
  +mobile()
    display: none
    padding: 0 10rem
    position: fixed
    left: 0
    top: 8.8rem
    width: 100vw
    height: calc(100vh - 8.8rem - 8.74rem)
    height: calc(var(--vh, 1vh) * 100 - 8.8rem - 8.74rem)
    background-color: white
    z-index: 50
    flex-wrap: wrap
    align-items: center
    justify-content: space-between

.colors-opened
  .colors
    +mobile()
      display: flex

.color
  border-radius: 9999px
  width: 6.4rem
  height: 6.4rem
  transition: transform 0.3s ease
  +mobile()
    width: 6rem
    height: 6rem

.color:hover
  transform: scale(1.2) !important

.color + .color
  margin-left: 2rem
  +mobile()
    margin-left: 0

.color.white
  border: 1px solid #000000
  background-color: #FFFFFF

.color.black
  background-color: #000000

.color.red
  background-color: #FF4C44

.color.orange
  background-color: #FF8700

.color.yellow
  background-color: #FFD100

.color.pink
  background-color: #FF88E6

.color.lightblue
  background-color: #9ADBF8

.color.green
  background-color: #04E2AC

.color.blue
  background-color: #3E53F6

.color.purple
  background-color: #A300D8

.color > input
  border: 0
  background: none
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  border-radius: 9999px
  opacity: 0
  cursor: pointer

.color.checked
  transform: scale(1.2)
  pointer-events: none

.color.unchecked
  transform: scale(0.5)

.visible
  opacity: 1

.download-link
  display: none

.concept-box
  height: 0
  overflow: hidden
  transition: height 0.5s ease
  +mobile()
    position: fixed
    left: 0
    top: 8.8rem
    width: 100vw
    height: calc(100vh - 8.8rem)
    height: calc(var(--vh, 1vh) * 100  - 8.8rem)
    display: none
    background-color: white
    z-index: 100

.concept-box-open
  height: calc(100vh - 10rem - 3rem)
  height: calc(var(--vh, 1vh) * 100  - 10rem - 3rem)
  overflow: auto
  +mobile()
    display: block
    height: calc(100vh - 8.8rem)
    height: calc(var(--vh, 1vh) * 100 - 8.8rem)


.concept-inner-box
  padding-top: 1.4rem
  max-width: 84rem
  margin: 0 auto
  +mobile()
    padding-bottom: 6rem

.concept-counters
  display: flex
  width: 100%
  justify-content: center

.concept-counter
  display: flex
  align-items: center
  font-size: 2.2rem
  line-height: (21.76/22)
  letter-spacing: (40 / 1000em)
  text-transform: uppercase
  +mobile()
    font-size: 1.8rem
    line-height: 1

.concept-counter + .concept-counter
  margin-left: 10rem
  +mobile()
    margin-left: 2.86rem

.concept-counter-label
  margin-right: 0.77rem
  +mobile()
    margin-right: 0.5rem

.concept-counter-value
  padding: 2.12rem 4.53rem 2.08rem
  border: 1px solid black
  border-radius: 3.2rem
  +mobile()
    padding: 1.19rem 2.17rem 1.01rem

.concept-text
  margin-top: 3rem
  font-size: 3rem
  line-height: (34/30)
  text-align: center
  & > p + p
    margin-top: 3.4rem
  +mobile()
    font-size: 1.8rem
    line-height: (22/18)
    padding: 0 1.5rem
    & > p + p
      margin-top: 2.2rem

.concept-credits
  display: flex
  width: 100%
  justify-content: center
  font-size: 1.8rem
  line-height: (34/18)
  text-transform: uppercase
  margin-top: 6rem
  & > div + div
    margin-left: 4rem
  +mobile()
    flex-direction: column
    justify-content: flex-start
    align-items: center
    margin-top: 4rem
    font-size: 1.3rem
    line-height: 1
    & > div + div
      margin-left: 0
      margin-top: 1.45rem

form
  +mobile()
    legend
      display: none
