@import './reset.min.css';
@font-face {
  font-family: 'Gramatika Demo';
  src: url("../fonts/GramatikaDemo-Regular.woff2") format('woff2'), url("../fonts/GramatikaDemo-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
a,
a:visited {
  color: inherit;
}
html {
  font-size: 0.694444444444444vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
header {
  position: relative;
}
body {
  font-family: 'Gramatika Demo', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
main {
  flex: 1;
  position: relative;
}
main.down {
  min-height: calc(100vh - 10rem - 9.6rem);
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
}
h1 {
  font-size: 10rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1;
  text-transform: uppercase;
}
.inverted {
  background: #000;
  color: #fff;
}
.text-m {
  font-size: 2.2rem;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.rounded {
  border-radius: 3.2rem;
}
.button {
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}
.button:hover {
  transform: scale(1.05);
}
.inactive {
  pointer-events: none;
}
.concept {
  padding: 2.1rem 0;
  border: 0;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  transition: width 0.3s ease;
  width: 14.3rem;
  cursor: pointer;
}
.concept-c {
  transition: opacity 0.15s ease 0.15s;
}
.concept-x {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.15s ease;
}
.concept-x > svg {
  width: 1.619rem;
  height: 1.619rem;
}
.concept-close {
  width: 6.4rem;
}
.concept-close .concept-c {
  transition: opacity 0.15s ease;
  opacity: 0;
}
.concept-close .concept-x {
  opacity: 1;
  transition: opacity 0.15s ease 0.15s;
}
.add-color {
  padding: 2.1rem 0;
  border: 0;
  opacity: 0;
  cursor: pointer;
  width: 22.4rem;
}
.add-color:disabled {
  pointer-events: none;
}
.colors {
  display: flex;
  list-style-type: none;
  border: 0;
}
.color {
  border-radius: 9999px;
  width: 6.4rem;
  height: 6.4rem;
  transition: transform 0.3s ease;
}
.color:hover {
  transform: scale(1.2) !important;
}
.color + .color {
  margin-left: 2rem;
}
.color.white {
  border: 1px solid #000;
  background-color: #fff;
}
.color.black {
  background-color: #000;
}
.color.red {
  background-color: #ff4c44;
}
.color.orange {
  background-color: #ff8700;
}
.color.yellow {
  background-color: #ffd100;
}
.color.pink {
  background-color: #ff88e6;
}
.color.lightblue {
  background-color: #9adbf8;
}
.color.green {
  background-color: #04e2ac;
}
.color.blue {
  background-color: #3e53f6;
}
.color.deepblue {
  background-color: #a300d8;
}
.color > input {
  border: 0;
  background: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 9999px;
  opacity: 0;
  cursor: pointer;
}
.color.checked {
  transform: scale(1.2);
  pointer-events: none;
}
.color.unchecked {
  transform: scale(0.5);
}
.visible {
  opacity: 1;
}
.download-link {
  display: none;
}
.concept-box {
  max-width: 84rem;
  margin: 0 auto;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}
.concept-box-open {
  height: calc(100vh - 10rem - 3rem);
  overflow: auto;
}
.concept-inner-box {
  padding-top: 1.4rem;
}
.concept-counters {
  display: flex;
  width: 100%;
  justify-content: center;
}
.concept-counter {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  line-height: 0.989090909090909;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.concept-counter + .concept-counter {
  margin-left: 10rem;
}
.concept-counter-label {
  margin-right: 0.77rem;
}
.concept-counter-value {
  padding: 2.12rem 4.53rem 2.08rem;
  border: 1px solid #000;
  border-radius: 3.2rem;
}
.concept-text {
  margin-top: 3rem;
  font-size: 3rem;
  line-height: 1.133333333333333;
  text-align: center;
}
.concept-text > p + p {
  margin-top: 3.4rem;
}
.concept-credits {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1.888888888888889;
  text-transform: uppercase;
  margin-top: 6rem;
}
.concept-credits > div + div {
  margin-left: 4rem;
}
fieldset {
  padding: 0;
}
